/* ========== Login & Register ============ */

.form-input-glass{
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255,255,255,.125);
    transition: .5s;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
}

.login-icon{
    right: 15px;
    top: 11px;
    color: white;
}

.btn-login{
    color: #fff;
    background-color: rgba(255,255,255,.125);
    border-color: rgba(255,255,255,.125);
    transition: .5s;
    font-size: 15px;
    font-weight: bold;

    &:hover{
        color: #fff;
        background-color: rgba(255, 255, 255, 0.18);
        border-color: rgba(255, 255, 255, 0.18);
    }
}



