/* ========== Media Query ============ */
/* For 1366 Resolution */  
@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px)  
{ 
    .w-20{
        width: 20%;
    }
    .w-80{
        width: 80%;
    }
}  

@media only screen and (max-width: 1200px){
    .head-search{
        width: 300px !important;
    }
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .head-search{
        width: 215px !important;
    }
}