/* ========== Profile ============ */
.cover-img{
    height: 120px;
}

.profile{
    width: 88px;
    height: 90px;
}

.nav-tabs .nav-link.active{
    background: rgba(255, 255, 255, 0.15);
    color: white;
    border-color: transparent;
}

.profile-tab{
    transition: .5s;
    button{
        color: rgba(255, 255, 255, 0.65);
    }
}
.nav-link:hover {
    color: white;
}


